@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: grid;
  margin: 0;
  padding: 0;
  overflow: visible;
  scroll-behavior: smooth;
  @media screen and (max-width: $desktopWidth) {    
    margin: 0;
  }
  @media screen and (max-width: $desktopTextAdaptive ) {
    margin: 0;
  }
  @media screen and (max-width: $smDesktopWidth) {
    margin: 0;
  }
  @media screen and (max-width: $tableWidth) {
    height: auto;
  }
  @media screen and (max-width: $phoneWidth ) {
    margin: 0;
  }
}


body {
  height: 100%;
  height: auto;
  font-family: $mainFont;
  font-size: 28px;
  line-height: 36px;
  background: #fff; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: $desktopWidth) {
    font-size: 1.4614vw;
    line-height: 1.2857em;
  }
  @media screen and (max-width: $desktopTextAdaptive ) {
    
  }
  @media screen and (max-width: $smDesktopWidth) {
    
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 3.5vw; 
    height: auto;
  }
  @media screen and (max-width: $phoneWidth ) {   
    
  }
}

body:not(.app-mounted) .spinner {
  display: block;
}

.spinner{
  display: none;
}


*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

.app {
  position: relative;  
  width: 100%;    
  margin: 0 5%;
  @media screen and (max-height: 900px){    
    
  }
  
  @media screen and (max-height:750px) and (max-width: $smDesktopWidth) {
      min-height: 400px; 
  } 

  @media screen and (max-width: $tableWidth) {
    height: auto;
    width: 100%;
    padding: 0 5%;
    margin: 0;
    min-height: 100vh;    
  }  
  @media screen and(max-width: $phoneWidth){
    height: auto;    
    min-height: calc(var(--vh, 1vh) * 100);
  }

  &__top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;

    &-logo{
        width: 29%;
        max-width: 301px;
        z-index: 4;
        @media screen and (max-width: $tableWidth) {
          max-width: none;
          width: 72.9%;
        }
    }

    &-menu{
      position: relative;
      display: none;
      width: 10%;
      height: auto;
      object-fit: contain;
      z-index: 4;
      @media screen and (max-width: $tableWidth) {
        display: block;
      }
    }

    &-mob{
      display: none;
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      margin-top: -70%;
      width: 100%;
      height: 20em;
      background: #fff;
      border: 0.1em solid #000;
      box-shadow: 0px 1em 0.3em 0.05em #000000;
      border-radius: 0 0 2em 2em;
      padding-bottom: 5%;
      z-index: 3;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      transition: all 0.5s ease-in;
      @media screen and (max-width: $tableWidth) {
        display: flex;
      }

      &.vis{
        margin-top: 0;
        opacity: 1;
      }

      &-link{
        font-size: 1.3715em;
        line-height: 1em;
        margin-bottom: 1.25em;
        margin-left: 5%;
        color: #000000;        
      }      
    }

    &-links{
        font-size: 0.76665em;
        line-height: 1.706em;
        @media screen and (max-width: $tableWidth) {
          font-size: 0.75em;
          display: none;
        }

        &-link{
            margin: 0 0.913em;
            color: #000000;
            cursor: pointer;
            @media screen and (max-width: $tableWidth) {
              margin: 0 0.5em;
            }
        }
    }
  }

  &__rules{
    position: absolute;
    z-index: 4;
    width: 56%;
    margin:  4% 22%;
    background: #E5FF7D;
    border: 0.1em solid #000;
    box-shadow: 0px 1em 0em 0em #000000;
    border-radius: 2em;
    @media screen and (max-width: $tableWidth) {
      margin: 4% 0;
      width: 90%;
    }

    &-main{
      width: 86.2%;
      height: auto;
      object-fit: contain;
    }

    &-exit{
      position: absolute;
      right: 5%;
      top: 5%;
      width: 1.7em;
      height: auto;
      cursor: pointer;
      object-fit: contain;
      @media screen and (max-width: $tableWidth) {
        width: 2.8em;
      }
    }

    &--items{
      position: relative;
      width: 84%;
      margin: 0 8%;

      &-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1.2831em;

        &-img{
          width: 1.64em;
          height: auto;
          object-fit: contain;
          @media screen and (max-width: $tableWidth) {
            width: 2.745em;
          }
        }

        &-txt{
          width: 81%;          
          font-size: 0.713em;
          line-height: 1.25em;
          @media screen and (max-width: $tableWidth) {
            font-size: 1.2191em;
          }
        }
      }
    }
  }
}


.transition{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $tableWidth) {
    height: auto;
  }  
}

.br{
  display: block;
  @media screen and (max-width: $tableWidth) {
    display: none;
  }  
  &-mob{
    display: none;
    @media screen and (max-width: $tableWidth) {
      display: block;
    }  
  }
}



// Modules
@import "modules/home.scss";
@import "modules/lessons.scss";
