// Font
$mainFont                : 'Euclid-Regular', 'arial';
$mainFontBold            : 'Euclid-Bold', Helvetica, Arial, sans-serif;
$mainFontLight           : 'Euclid-Light', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 20px;
$mainFontWeight          : 300;
$mainLineHeight          : 1.4;

$desktopWidth            : 1920px;
$desktopTextAdaptive     : 1450px;
$smDesktopWidth          : 1080px;
$tableWidth              : 920px;
$phoneWidth              : 620px;
$smPhoneWidth            : 430px;

// main color 
$black-color             : #000000;
$white-color             : #ffffff;
$backOrange-color        : #EC6133;

// home color
$homeBack-color          : #011432;
$homeTextBlack-color     : #011432;


// test color
$testBackOne-color       : #F1F8FC;
$testBackTwo-color       : #011432;
$testText-color          : #011432;
$testTextDesc-color      : #01143230;

// final color
$finalBack-color         : #011432;
$finalBackDesc-color     : #F1F8FC;